<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Our family heritage</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">Family Heritage
                </div>
                <nav class="nav">
                    <a class="nav-link" href="#">Про проект</a>
                    <a class="nav-link" href="#">Представники</a>
                    <a class="nav-link" href="#">Історія</a>
                    <a class="nav-link" href="#">Місцевості</a>
                    <a class="nav-link" href="#">Статті</a>
                    <a class="nav-link" href="#">Контакти</a>
                </nav>
            </div>
        </div>
        <div class="banner">
            <div class="container">
                <div class="banner-inner">
                    <h1 class="title">СПАДЩИНА НАШОГО РОДУ</h1>
                    <h2 class="subtitle">Созанські, Черкавські, Сапруни, Козенки</h2>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section">
            <div class="container">
                <div class="section-about">
                    <div id="box-container"></div>
                        <div id="box-1">
                            <div class="gerb">
                               <img src="img/princes_slavonia.jpg" alt="princes-slavonia"> 
                            </div>
                        
                        </div>
                        <div id="box-2"><h2 class="line">Про проект</h2><p>Досліджуючи наше родинне дерево ми знайшли багато цікавого і хочемо поділитися своїми знахідками із іншими. Можливо історія нашого роду заохотить когось досліджувати своє коріння, а, можливо, допоможе нам ще більше дізнатися про наш рід чи навіть знайти нових далеких родичів. Одним із найдавніших родів нашого дерева є рід Созанських, що були представниками Руської шляхти, належали до гербу Корчак і походили з Созані, що біля Старого Самбора.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="representatives">
            <h2 class="title-gallery">Визначні представники роду</h2>
                <div class="gallery">
                    <img src="img/01.TymofijCzerkawskyj.jpg" alt="tymofij-cherkavskyj">
                    <div class="desc">Тимофій Черкавський, віце-ректор Львівської семінарії. Зображення з 1835 року</div>
              </div>
              <div class="gallery">
                    <img src="img/02.EwsewijCzerkawskyj.jpg" alt="eusevij-cherkavskyj">
                    <div class="desc"><a href="https://uk.wikipedia.org/wiki/%D0%84%D0%B2%D1%81%D0%B5%D0%B2%D1%96%D0%B9_%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B8%D0%B9" target="_blank">Євсевій Черкавський, </a>ректор Львівського університету, посол сейму і парламенту</div>
              </div>
              <div class="gallery">
                    <img src="img/03.StefanSaprun.jpg" alt="stefan-saprun">
                    <div class="desc">Стефан Сапрун, священик з Сокальщини, арештований росіянами в 1914 році</div>
              </div>
              <div class="gallery">
                    <img src="img/04.MelaniaBula.jpg" alt="melania-bula">
                    <div class="desc"><a href="https://esu.com.ua/search_articles.php?id=36687" target="_blank">Меланія Була,</a> народна поетеса та вчителька в селах на Івано-Франківщині</div>
              </div>
              <div class="gallery">
                    <img src="img/05.KornelijKozenko.jpg" alt="kornelij-kozenko">
                    <div class="desc">Корнелій Козенко "Корнієнко", господарчий референт ОУН надрайону "Батурин"</div>
              </div>
              <div class="gallery">
                    <img src="img/02.EwsewijCzerkawskyj.jpg" alt="eusevij-cherkavskyj">
                    <div class="desc">Євсевій Черкавський, ректор Львівського університету, син Тимофія Черкавського</div>
              </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="section-history">
                    <h2>Історії - варті уваги</h2>
                        <div class="container"> 
                            <p class="container-text">Begins
                                For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</p>
                                <button onclick="myFunction()" id="myBtn">Read more</button>
                            <p class="container-text">Begins
                                For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</p>
                                <button onclick="myFunction()" id="myBtn">Read more</button>
                        </div>
                </div>
            </div>
        </section>
            <div class="locations">
            <h2>Місця проживання</h2></div>
                <div class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1321789.4091757133!2d22.912725111435503!3d49.68029740105305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add693e639c6f%3A0x630d8c8887ba3d62!2z0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1suk!2sua!4v1631796745242!5m2!1suk!2sua" width="1200" height="300" style="border: 0px;" allowfullscreen="0" loading="lazy"></iframe>
                </div>
        <div class="container">
                <div class="title-articles"><h2>Статті</h2></div>
                <div id="box-container">
                    <div id="box-3"><h2>Перша стаття</h2><p>Our Company was established in 1989 by two enthusiastic brothers eager to start their own business and to get noticed by the whole world. Now we are one of the country’s best places to work and grow professionally. Our business is built on understanding and long-term relations with clients. To survive in today's competitive and ever-changing business world, every business has to operate efficiently, grow, and succeed. It is very important to properly use the information and technology to stay rival within your market. We can help you push the boundaries and achieve the results you have planned.</p></div>
                    <div id="box-4"><h2>Друга стаття</h2><p>Our Company was established in 1989 by two enthusiastic brothers eager to start their own business and to get noticed by the whole world. Now we are one of the country’s best places to work and grow professionally. Our business is built on understanding and long-term relations with clients. To survive in today's competitive and ever-changing business world, every business has to operate efficiently, grow, and succeed. It is very important to properly use the information and technology to stay rival within your market. We can help you push the boundaries and achieve the results you have planned.</p></div>
                    <div id="box-5"><h2>Третя стаття</h2><p>Our Company was established in 1989 by two enthusiastic brothers eager to start their own business and to get noticed by the whole world. Now we are one of the country’s best places to work and grow professionally. Our business is built on understanding and long-term relations with clients. To survive in today's competitive and ever-changing business world, every business has to operate efficiently, grow, and succeed. It is very important to properly use the information and technology to stay rival within your market. We can help you push the boundaries and achieve the results you have planned.</p></div>
                </div> 
        </div>
        <section id="app">
            <div class="container">
              <div class="row">
                    <div class="col-6">
                    <div class="comment">
                    <p v-for="items in item" v-text="items"></p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                    <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <h2 class="contacts">Контакти</h2>
                <form action="http://formspree.io/f/xnqllogk" method="POST" target="_blank">
                    <input type="text" name="Hello">
                    <input type="submit">
                </form>
        </section>
    </main>
    <footer class="container">ROproject "Family Heritage"  ©All rights reserved
    </footer>
</body>
</html>