<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Our family heritage</title>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"/>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">Family Heritage
                </div>
                <nav class="nav">
                    <a class="nav-link" href="#">Про проект</a>
                    <a class="nav-link" href="#">Представники</a>
                    <a class="nav-link" href="#">Історія</a>
                    <a class="nav-link" href="#">Місцевості</a>
                    <a class="nav-link" href="#">Статті</a>
                    <a class="nav-link" href="#">Контакти</a>
                </nav>
            </div>
        </div>
        <div class="banner">
            <div class="container">
                <div class="banner-inner">
                    <h1 class="title">СПАДЩИНА НАШОГО РОДУ</h1>
                    <h2 class="subtitle">Созанські, Черкавські, Сапруни, Козенки</h2>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section">
            <div class="container">
                <div class="section-about">
                    <div id="box-container"></div>
                        <div id="box-1">
                            <div class="gerb">
                               <img src="img/princes_slavonia.jpg" alt="princes-slavonia"> 
                            </div>
                        
                        </div>
                        <div id="box-2"><h2 class="line">Про проект</h2><p>Досліджуючи наше родинне дерево ми знайшли багато цікавого і хочемо поділитися своїми знахідками із іншими. Можливо історія нашого роду заохотить когось досліджувати своє коріння, а, можливо, допоможе нам ще більше дізнатися про наш рід чи навіть знайти нових далеких родичів. Одним із найдавніших родів нашого дерева є рід Созанських, що були представниками Руської шляхти, належали до гербу Корчак і походили з Созані, що біля Старого Самбора.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="representatives">
            <h2 class="title-gallery">Визначні представники роду</h2>
                <div class="gallery">
                    <img src="img/01.TymofijCzerkawskyj.jpg" alt="tymofij-cherkavskyj">
                    <div class="desc">Тимофій Черкавський, віце-ректор Львівської семінарії. Зображення з 1835 року</div>
              </div>
              <div class="gallery">
                    <img src="img/02.EwsewijCzerkawskyj.jpg" alt="eusevij-cherkavskyj">
                    <div class="desc"><a href="https://uk.wikipedia.org/wiki/%D0%84%D0%B2%D1%81%D0%B5%D0%B2%D1%96%D0%B9_%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B8%D0%B9" target="_blank">Євсевій Черкавський, </a>ректор Львівського університету, посол сейму і парламенту</div>
              </div>
              <div class="gallery">
                    <img src="img/03.StefanSaprun.jpg" alt="stefan-saprun">
                    <div class="desc">Стефан Сапрун, священник з Сокальщини, арештований в 1914 році</div>
              </div>
              <div class="gallery">
                    <img src="img/04.MelaniaBula.jpg" alt="melania-bula">
                    <div class="desc"><a href="https://esu.com.ua/search_articles.php?id=36687" target="_blank">Меланія Була,</a> народна поетеса та вчителька в селах на Івано-Франківщині</div>
              </div>
              <div class="gallery">
                    <img src="img/05.KornelijKozenko.jpg" alt="kornelij-kozenko">
                    <div class="desc">Корнелій Козенко "Корнієнко", господарчий референт ОУН надрайону "Батурин"</div>
              </div>
              <div class="gallery">
                    <img src="img/06.DariaKozenko.jpg" alt="daria-kozenko">
                    <div class="desc">Одарка Сапрун, дружина священика в с. Новий Люблинець, мовознавець</div>
              </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="section-history">
                    <h2>Історії - варті уваги</h2>
                        <div class="container"> 
                            <p class="container-text">
                                Одарка Сапрун, була донькою о. Стефана Сапруна і Олімпії Грушкевич. В сім’ї велику увагу приділяли освіті. Тому бабуся Дарця, як її називали внуки, зокрема досконало володіла французькою мовою і бідкалася, що ніхто із внуків французької не знає і немає з ким поговорити.</p>
                                <button onclick="myFunction()" id="myBtn">Read more</button>
                            <p class="container-text">
                                о. Стефан Сапрун народився у с. Наконечне  в сім’ї Стефана і Євдокії (Знак). Захоплювався народним фольклором і навіть видав збірку, в якій записав рідкісний вид українських обрядових пісень – риндзівок. Під час Першої світової війни перебував на засланні в Росії.</p>
                                <button onclick="myFunction()" id="myBtn">Read more</button>
                        </div>
                </div>
            </div>
        </section>
            <div class="locations">
            <h2>Місця проживання</h2></div>
                <div class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1321789.4091757133!2d22.912725111435503!3d49.68029740105305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add693e639c6f%3A0x630d8c8887ba3d62!2z0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1suk!2sua!4v1631796745242!5m2!1suk!2sua" width="1200" height="300" style="border: 0px;" allowfullscreen="0" loading="lazy"></iframe>
                </div>
        <section>
                <video
                  src="videos/gone.mp4", src="https://www.loom.com/share/f30c5dcbc8b6450dbad336fa20f3f805"
                  id="video"
                  class="screen"
                  poster="img/poster.png"
                ></video>
                <div class="controls">
                  <button class="btn" id="play">
                    <i class="fa fa-play fa-2x"></i>
                  </button>
                  <button class="btn" id="stop">
                    <i class="fa fa-stop fa-2x"></i>
                  </button>
                  <input
                    type="range"
                    id="progress"
                    class="progress"
                    min="0"
                    max="100"
                    step="0.1"
                    value="0"
                  />
                  <span class="timestamp" id="timestamp">00:01</span>
                </div>
                <script src="script.js"></script>
        </section>
        <div class="container">
                <div class="title-articles"><h2>Статті</h2></div>
                <div id="box-container">
                    <div id="box-3"><h3>Wyrostek Ludwik. Ród Dragów-Sasów na Węgrzech i Rusi Halickiey. Kraków 1932</h3><p>Powyżej Starego miasta (Sambora) siedział na prawym brzegu Dniestru ród Sasów-Sozańskich. Początkowo przebywał on tuż pod miastem w Jaryłowcach, lecz 
                        w r. 1392 wcielił tę miejscowość do obszaru miejskiego Spytko z Melsztyna a wzamian dał djakowi Senkowi monaster Sozań z tern, że może sobie założyć wieś na 
                        prawie dowolnem i wypasać dobytek w lasach Spytkowych, jedynie ma wysyłać na 
                        każdą wyprawę dwóch łuczników. Seńko okazywał przy akcie zamiany przywilej 
                        książąt ruskich na Jaryłowce, wystawiony najprawdopodobniej przez Opolczyka. Na 
                        nowej siedzibie widzimy go jeszcze w r. 1422, kiedy przeprowadzał granice między 
                        Sozaniem a Starym Samborem.</p></div>
                    <div id="box-4"><h2></h2><p>W zjeździe hotnagjalnym brał już udział Iwan 
                        z Sozania. Nić genealogiczna urywa się później aż do lat siedmdziesiątych, 
                        w których dziedziczą: Stańko z żoną Fedką lub Femką r. 1478, Anna r. 1480, 
                        Dymitr z żoną Nastką z Turki oraz Piotr, syn Fedka, r. 1481. Ostatni zamienił 
                        swój dział z Kmitą na sołectwo w Uhercach sanockich. Jakaś część w Sozaniu 
                        przypadła po matce Waśkowi Kornelowskiemu Dymitr pozostawił Piotra i Iwaśka 
                        r. 1500 a nieznany bliżej Waśko Iwana i Tanykę, która poślubiła r. 1502 Iwaśka 
                        z Łukawicy Winnickiego. Waśko rozpoczął proces graniczny z władyką przemyskim, 
                        Antonim, który przeszedł następnie na Stanka z synami, Piotra "Połupana" i dalszych 
                        potomków. Piotr utrzymywał do r. 1530 tenutę za de w Samborskiem. </p></div>
                    <div id="box-5"><h2></h2><p>Paweł 
                        Sozański stwierdził w r. 1535 przywilej na Sozań a w trzy lata później odgraniczył 
                        wieś od St. Sambora w towarzystwie Piotra i Aleksandra Sozańskich oraz Weryhy Wysoczańskiego, współposiadacza. W r. 1554 rewindykowali część zabranego 
                        gruntu Piotr i Paweł oraz Jacek i Aleksander Jamieńscy — odrośl Sozańskich 
                        z Jamny. Spór z władyką zażegnał sąd podkomorski r. 1555, przed którym stanęło 
                        Sozańskich, Jamieńskich i Wysoczańskich. Na tle nieporozumień majątkowych zarzucił Paweł Sozański nieszlachetne pochodzenie Jamieńskim, lecz obwinieni 
                        oczyścili się przed sądem przemyskim r. 1559, stwierdzając przynależność do herbu Sas.</p></div>
                </div> 
        </div>
        <section id="app">
            <div class="container">
              <div class="row">
                    <div class="col-6">
                    <div class="comment">
                    <p v-for="items in item" v-text="items"></p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                    <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <h2 class="contacts">Контакти</h2>
                <form action="http://formspree.io/f/xnqllogk" method="POST" target="_blank">
                    <input type="text" name="Hello">
                    <input type="submit">
                </form>
        </section>
    </main>
    <footer class="container">ROproject "Family Heritage"  ©All rights reserved
    </footer>
</body>
</html>