.head {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

/* Container holding the image and the text */
.banner-text {
    position: relative;
    text-align: center;
    color: white;
    min-width: 320px;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 24px;
    line-height: 1.4;
    font-family: Varela Round,sans-serif;
    font-weight: 400;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

.body {
    background-color: whitesmoke;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.footer {

}

.project {
    font-size: inherit;
}

.gallery {

}

.history {

}

.locations {

}

.articles {

}

.contacts {

}


