.head {
    
    }

.header h1.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 7px 0 0 0; float: left;
    
    }

.topnav {
    background-color: #333;
    overflow: hidden;
  }

.banner-text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.body {
    background-color: whitesmoke;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.footer {

}

.project {
    font-size: inherit;
}

.gallery {

}

.history {

}

.locations {

}

.articles {

}

.contacts {

}


