.head {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.footer {

}

.project {
    font-size: inherit;
}

.gallery {

}

.history {

}

.locations {

}

.articles {

}

.contacts {

}


